<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chi tiết sản phẩm</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/fontend/Footer/style.css">
  <link rel="stylesheet" href="/fontend/header/style.css">
  <link rel="stylesheet" href="/fontend/public/css/aleart.css">
</head>
<body>
  <header class="header">

    <div class="header_text"> WEBSITE CHÍNH THỨC CỦA M.O.I COSMESTIC - MỸ PHẨM HỒ NGỌC HÀ</div>
  
    <div class="container">
        <ul class="task-bar1">
            <li class="search-menu"><i class="fa-solid fa-magnifying-glass"></i>
              <ul class="search">
                  <li><input type="text" placeholder="Tìm kiếm..."></li>
                  <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
              </ul>
            </li>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="" class="hover">Sản phẩm</a>
  
                <div class="menu1">
                    <ul>
                        <li><a href="" class="bold">Da by M.O.I</a></li><hr>
                        <li><a href="">Toner - Nước thần</a></li><hr>
                        <li><a href="">Sữa rửa mặt</a></li><hr>
                        <li><a href="">Combo sữa rửa <br> mặt + Toner da by M.O.I</a></li><hr>
                    </ul>
                    <ul>
                            <li class="bold" ><a href="">Phấn trang điểm</a></li> <hr>
                            <li><a href="">Phấn nước</a></li><hr>
                            <li><a href="">Phấn phủ</a></li><hr>
                            <li><a href="">Phấn má hồng</a></li><hr>
                            <li><a href="">Combo phấn phủ <br> và phấn nước <br> M.O.I</a></li>
                    </ul>
                    <ul>
                        <li><a href=""class="bold">Son môi</a></li><hr>
                        <li><a href="">Chì kẻ môi M.O.I <br> Perfect Shape Lip <br>Liner</a></li><hr>
                        <li><a href="">Son tint lì M.O.I <br> Lollipops</a></li><hr>
                        <li><a href="">Son thỏi cao cấp <br> The New Iconic <br> phiên bản giới hạn</a></li><hr>
                        <li><a href=""> Son kem M.O.I <br> phiên bản mùa <br> xuân</a></li><hr>
                        <li><a href="">Son kem M.O.I <br> phiên bản mùa lễ <br>hội</a></li><hr>
                        <li><a href=""> Son dưỡng có <br> màu Jelly Lipgloss <br> M.O.I</a></li><hr>
                        <li><a href="">Son thỏi cao cấp <br> Love M.O.I phiên <br> bản giới hạn</a></li>
                    </ul>
                    <ul>
                        <li><a href=""class="bold">Mặt nạ</a></li><hr>
                        <li><a href="">Mặt nạ gạo</a></li><hr>
                        <li><a href="">Combo mặt nạ <br> gạo M.O.I</a></li>
                    </ul>
                    <ul>
                        <li><a href=""class="bold">CHÌ KẺ MÀY</a></li><hr>
                        <li><a href="">Chì kẻ mày M.O.I <br> Perfect Eyebrow <br> Pencil</a></li>
                    </ul>
                    <ul>
                        <li><a href=""class="bold">Làm sạch da và bảo vệ da</a></li><hr>
                        <li><a href="">Bông tẩy trang</a></li><hr>
                        <li><a href="">Kem chống nắng</a></li><hr>
                        <li><a href="">Nước tẩy trang</a></li>
                    </ul>
                </div>
            <li><a href="">Khuyến mãi</a></li>
        </ul>
        <ul class="task-bar2">
          <li><a href="">Ưu đãi sốc</a></li>
          <li class="hover2"><a href="">Blog</a>
          </li>
          <li><a href="">Chính sách</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
    </div>
  
    <div class="logo"><a href=""><img src="/Project/Project/Public/Uploads/logo-moicosmetics.png" alt=""></a></div>
    <div class="right-taskbar">
        <p>Hotline: <a href="" class="hotline"> 0986604006</a></p>
        <div class="line"></div>
        <p><a href="" class="cart">Giỏ hàng / </a></p> 
    </div>
  </header>

  <div id="notification" class="notification">
    <span id="notificationMessage">Đã gửi Email !</span>
    <button id="closeNotification" class="close-btn">&times;</button>
  </div>

  <div class="pdetail-container1">
    <div class="pdetail-title">
      <p>Trang chủ / </p>
      <p>Tất cả sản phẩm /</p>
      <p>Tên sản phẩm</p>
    </div>
    <div class="pdetail-main">
      <div class="pdetail-left">
        
        <div class="pd-carousel-container">
          <div class="pd-arrow-up" onclick="scrollUp()">&#9650;</div>
          <div class="pd-carousel">
              <div class="pdetail-thumbnail">
                <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="Image 1" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_1.png">
                <img src="/fontend/public/uploads/anh_my_pham2.png" alt="Image 2" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham2.png">
                <img src="/fontend/public/uploads/anh_my_pham_10.png" alt="Image 3" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_10.png">
                <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 4" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
                <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 5" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
                <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 6" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
                <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 6" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
                <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 6" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
              </div>
          </div>
          <div class="pd-arrow-down" onclick="scrollDown()">&#9660;</div>
        </div>
        

        <div class="pdetail-imglarge">
          <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="Large Image" class="pd-imagelarge" id="pd-imagelarge">
        </div>
      </div>
      <div class="pdetail-right">
        <h3 class="pdetail-right1">
          Son Kem M.O.I Phiên Bản Mùa Lễ Hội Và Phiên Bản Mùa Xuân [Mua 1 Tặng 1]
        </h3>
        <h4 class="pdetail-right2">
          Đã bán : 13.862
        </h4>
        <div class="pdetail-right3">
          <div class="pd-filled"></div>
        </div>

        <div class="pdetail-right4">  
          <div class="pd-price">379.000</div>
          <div class="pd-oldprice">499.000</div>
          <div class="pd-discount">-24%</div>
        </div>

        <div class="pdetail-right5">
          <div class="pd-color">
            Màu sắc:
          </div>
          <div class="pd-selectcolor">
            <div>VERY BERRY CAM QUẾ</div>
            <div>CHERY HỒNG TÂY</div>
            <div>COLA ĐỎ NÂU</div>
            <div>RASBERRY CÁNH HỒNG KHÔ</div>
          </div>
        </div>

        <div class="pdetail-right6">

          <div class="pd-bonnus">
            <div>
              <div class="pd-bonnus1">Các sản phẩm được tặng kèm</div>
              <div class="pd-bonnus2">Chọn 1 trong các loại cài đặt</div>
            </div>
            <div class="pd-bonnus3"><i class="fa-solid fa-gift"></i></div>
          </div>

          <div class="pd-selectgift">

            <div class="pd-selectgift1">
              
                <input type="radio" name="pd-radio">
                <a href="">
                  <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="" >
                </a>
                <div class="pd-select-des">
                  Description
                </div>
              
            </div>

            <div class="pd-selectgift1">
              
                <input type="radio" name="pd-radio">
                <a href="">
                  <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="" >
                </a>
                <div class="pd-select-des">
                  Description
                </div>
              
            </div>
            

          </div>
        </div>

        <div class="pdetail-right7">

          <div style="font-size: 12px; font-weight: bold;"> 
            Quantity:
          </div>
          <div class="pd-stock">
            <div class="pd-stock1">
              <button id="pd-decrease" class="pd-counter-btn">-</button>
              <span id="pd-counter-value" class="pd-counter-value">1</span>
              <button id="pd-increase" class="pd-counter-btn">+</button>
            </div>
            <input type="button" value="Thêm vào giỏ" class="pd-stockcard" >
          </div>

        </div>

        <input type="button" value="MUA NGAY" class="pdetail-right8">
        

      </div>
    </div>
    <div class="pdetail-promotion">

    </div>
  </div>

  <div class="pdetail-container2">

    <h3 class="pd-titlevc">KHUYẾN MÃI DÀNH CHO BẠN</h3>

    <div class="pd-voucher">


      <div class="pd-voucher1">
        <div class="pd-voucher-icon"><i class="fa-solid fa-money-bill"></i></div>
        <div class="pd-voucher-main">
          <div class="pd-voucher-giam15">Giảm 15k</div>
          <div class="pd-voucher-apdung">Áp dụng cho khách hàng mua hàng đầu tiên</div>
          <div class="pd-voucher-main2">
            <div class="pd-voucher-sayhi">
              <div id="voucher-code">SAYHI</div>
              <div>HSD: 31/..</div>
            </div>
            <div class="pd-voucher-button" id="copy-btn">Sao chép mã</div>
          </div>
        </div>
      </div>

      <div class="pd-voucher1">
        <div class="pd-voucher-icon"><i class="fa-solid fa-money-bill"></i></div>
        <div class="pd-voucher-main">
          <div class="pd-voucher-giam15">Giảm 15k</div>
          <div class="pd-voucher-apdung">Đơn hàng bất kì</div>
          <div class="pd-voucher-main2">
            <div class="pd-voucher-sayhi2">
              <div>Mã: SAYHI</div>
              <div>HSD: 31/..</div>
            </div>
            <div class="pd-voucher-button2" id="copy-btn">Sao chép mã</div>
          </div>
        </div>
      </div>

      


    </div>



  </div>
  <div class="pdetail-container3">
    <div>Mô tả sản phẩm</div>
    <hr class="pd-des-hr">
    <div>Tên</div>
    <div>Số lượng màu</div>
    <div>Màu</div>
    <div class="pd-des-title">Thông tin cơ bản</div>
    <div>Công dụng: </div>
    <div>Bảo quản: </div>
    <div>Hạn sử dụng: </div>
    <div>Trọng lượng: </div>

    <div id="pd-content" class="pd-content">
        <div class="pd-des-title" id="pd-des-title1">Thành phần công bố</div>
        <div>Thành phần</div>
        <div class="pd-des-title">Thông tin xuất sứ:</div>
        <div>Thông tin xuất sứ</div>
        <div class="pd-des-title">Thông tin thương hiệu:</div>
        <div>Thông tin thương hiệu</div>
    </div>
    
    <div class="pd-des-button">
        <button id="load-more-btn" class="pd-btn">
            <span>+</span> Xem thêm nội dung
        </button>
    </div>
</div>

<footer class="footer">

  <div class="grid">
    <div class="grid-row-1">
      <div class="footer-gr1">
        <h3>ĐĂNG KÍ NHẬN THÔNG BÁO</h3>
        <p>Chương trình khuyến mại | Hợp tác kinh doanh</p>
      </div>
      <form class="footer-gr2" id="emailForm">
        <input type="text" placeholder="Nhập email của bạn" id="footer-input"> 
        <input type="submit" value="Gửi" id="footer-submit">
        <div id="error-message" style="color: red; display: none;">Vui lòng nhập email đúng định dạng!</div>
        <div id="success-message" style="color: green; display: none;">Email đã được gửi thành công!</div>
      </form>

    </div>
  </div>
  <br>

  <div class="grid">
    <div class="grid-row-2">
      <div class="grid-column-2">
        <h3 class="footer-heading">Chăm sóc khách hàng</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item-link">Chính sách đổi trả</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Chính sách bảo mật</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Thanh toán và giao nhận</a>
          </li>
        </ul>  
      </div>
      <div class="grid-column-2">
        <h3 class="footer-heading">VỀ M.O.I COSMETICS</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item-link">Giới thiệu</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Liên hệ</a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">Đăng kí đối tác</a>
          </li> 
        </ul>  
      </div>
      <div class="grid-column-2">
        <h3 class="footer-heading">Theo dõi chúng tôi trên</h3>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="" class="footer-item-link">
              <i class="footer-item-icon fa-brands fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">
              <i class="footer-item-icon fa-brands fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li class="footer-item">
            <a href="" class="footer-item-link">
              <i class="footer-item-icon fa-brands fa-tiktok"></i>
              TikTok
            </a>  
          </li> 
        </ul>  
      </div>
      <div class="grid-column-2">
        <h3 class="footer-heading">PHƯƠNG THỨC THANH TOÁN</h3>
        <ul>
          <li class="footer-image">
            <a href=""  class="footer-item-link">
              <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-MoMo-Square.png" alt="">
            </a> 
          </li>
          <li  class="footer-image">
            <a href=""  class="footer-item-link">
              <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-ZaloPay-Square.png" alt="">
            </a>
          </li>
          <li  class="footer-image">
            <a href=""  class="footer-item-link">
              <img src="https://png.pngtree.com/png-vector/20210602/ourmid/pngtree-cash-on-delivery-cod-fast-car-with-flat-design-style-orange-png-image_3389487.jpg" alt="">
            </a>  
          </li>
        </ul>
        
      </div>
    </div>
    <div class="footer-bottom">
      <div class="grid-row">
        <p class="footer-text">Bản quyền của CÔNG TY TNHH M.O.I COSMETICS.</p>
      </div>
    </div>  
  </div>
</footer>



  <script src="/fontend/mixin/validateEmail.js"></script>
  <script src="../script.js"></script>
  <script src="/fontend/mixin/aleart.js"></script>
</body>
</html>