<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chi tiết sản phẩm</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="pdetail-container1">
    <div class="pdetail-title">
      <p>Trang chủ / </p>
      <p>Tất cả sản phẩm /</p>
      <p>Tên sản phẩm</p>
    </div>
    <div class="pdetail-main">
      <div class="pdetail-left">
        <div class="pdetail-thumbnail">
          <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="Image 1" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_1.png">
          <img src="/fontend/public/uploads/anh_my_pham2.png" alt="Image 2" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham2.png">
          <img src="/fontend/public/uploads/anh_my_pham_10.png" alt="Image 3" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_10.png">
          <img src="/fontend/public/uploads/anh_my_pham_11.png" alt="Image 4" class="pd-thumbnail" data-target="/fontend/public/uploads/anh_my_pham_11.png">
        </div>

        <div class="pdetail-imglarge">
          <img src="/fontend/public/uploads/anh_my_pham_1.png" alt="Large Image" class="pd-imagelarge" id="pd-imagelarge">
        </div>
      </div>
      <div class="pdetail-right">
        <div class="pdetail-right1">
          Son Kem M.O.I Phiên Bản Mùa Lễ Hội Và Phiên Bản Mùa Xuân [Mua 1 Tặng 1]
        </div>
        <div class="pdetail-right2">
          Đã bán : 13.862
        </div>
        <div class="pdetail-right3">
          <div class="pd-filled"></div>
        </div>

        <div class="pdetail-right4">  
          <div class="pd-price">379.000</div>
          <div class="pd-oldprice">499.000</div>
          <div class="pd-discount">-24%</div>
        </div>

        <div class="pdetail-right5">
          <div class="pd-color">
            Màu sắc:
          </div>
          <div class="pd-selectcolor">
            <div>VERY BERRY CAM QUẾ</div>
            <div>CHERY HỒNG TÂY</div>
            <div>COLA ĐỎ NÂU</div>
            <div>RASBERRY CÁNH HỒNG KHÔ</div>
          </div>
        </div>

        <div class="pdetail-right6">
          <div class="pd-bonnus">
            <div>
              <div>Các sản phẩm được tặng kèm</div>
              <div>Chọn 1 trong các loại cài đặt</div>
            </div>
            <div><i class="fa-solid fa-gift"></i></div>
          </div>

          <div class="pd-selectgift">

            <div class="pd-selectgift1">
              <div> 
                <input type="radio">
                <div>
                  <img src="" alt="">
                </div>
                <div>
                  Description
                </div>
              </div>
            </div>

            <div class="pd-selectgift1">
              <div> 
                <input type="radio">
                <div>
                  <img src="" alt="">
                </div>
                <div>
                  Description
                </div>
              </div>
            </div>
            

          </div>
        </div>

        <div class="pdetail-right7">

          <div > 
            Quantity:
          </div>
          <div class="pd-stock">
            <div class="pd-stock1">
              <button id="pd-decrease" class="pd-counter-btn">-</button>
              <span id="pd-counter-value" class="pd-counter-value">1</span>
              <button id="pd-increase" class="pd-counter-btn">+</button>
            </div>
            <div class="pd-stockcard">Thêm vào giỏ</div>
          </div>

        </div>

        <div class="pdetail-right8">
          Mua ngay
        </div>
        

      </div>
    </div>
    <div class="pdetail-promotion">

    </div>
  </div>

  <div class="pdetail-container2"></div>
  <div class="pdetail-container3"></div>
  <div></div>


  <script src="../script.js"></script>
</body>
</html>